<h1>All Restaurants</h1>
<ul>
  <% @restaurants.each do |resto| %>
    <li><%= link_to resto.name, restaurant_path(resto) %></li>
  <% end %>
</ul>

<%= link_to "Create a Restaurant", restaurants_new_path %>
